body{
	margin: 0px;
	padding: 0px;
}
.pink{
 width: 200px;
 height: 200px; 
 background-color:#ee3e64; 
position:relative;
}
.blue{
width: 200px;
height: 200px;
background-color:#44accf;
position:relative;
}
.green{
width: 200px;
height: 200px;
background-color:#b7d84b;
position:relative;
}
